.Avatar {
    display: block;
    width: 128px;
    height: 128px;
    margin-right: auto;
    margin-left: auto;
}
.avatar-1 {
    background: url(AvatarA-optimised.svg) no-repeat top left;
    background-size: contain;
}
.avatar-2 {
    background: url(AvatarB-optimised.svg) no-repeat top left;
    background-size: contain;    
}