.ProgressBar {
    height: 10px;  /* Can be anything */
	position: relative;
	background: #222;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	padding: 2px;
    margin-bottom: 5px;
}
.ProgressBar > span {
    display: block;
    height: 100%;
    width: 50%;
    border-radius: 5px;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    background-color: dodgerblue;
    position: relative;
    overflow: hidden;

    transition: width 2s ease-out;
}
.ProgressBarLabel {
    text-align: left;
}
